<div id="multiple-choice">
    <label>Question Text</label>
    <input type="text" name="QuestionText" class="form-control" />
    <label>Option A</label>
    <input type="text" name="OptionA" class="form-control" />

    <label>Option B</label>
    <input type="text" name="OptionB" class="form-control" />
    <label>Option C</label>
    <input type="text" name="OptionC" class="form-control" />
    <label>Option D</label>
    <input type="text" name="OptionD" class="form-control" />

    <label>Correct Answer</label>
    <select name="CorrectAnswer" class="form-control">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select>
</div>
