@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>

@Html.ActionLink("Create New Role", "Create", "Roles", null, new { @class = "btn btn-primary mb-3" })
@Html.ActionLink("Assign Role to User", "Assign", "Roles", null, new { @class = "btn btn-secondary mb-3" })
@Html.ActionLink("View User Roles", "UsersWithRoles", "Roles", null, new { @class = "btn btn-info mb-3" })

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var role in Model)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>
