@page
@model SPS2025___STEMify.Pages.Accounts.AdminLogModel

<div class="auth-container admin-auth">
    <h2><i class="fas fa-lock"></i> Admin Login</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Username"></label>
            <input asp-for="Input.Username" class="form-control" />
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" type="password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-danger btn-block">Login</button>
    </form>

    <div class="auth-links">
        <a href="/Accounts/Login">User login</a>
    </div>
</div>

